.imgbook{
    background-image: url(../../Assets/كيف\ تختار\ شركة\ الطيران\ المثالية\ لرحلتك\ المقبلة؟.jpeg);
    background-size: cover; /* تغطي الخلفية بالكامل */
    background-position: center; /* ضبط الصورة لتكون في المنتصف */
    background-repeat: no-repeat; /* عدم تكرار الصورة */
    height:100vh; /* ضبط ارتفاع الخلفية ليغطي كامل الصفحة */
    width: 100%; /* ضبط عرض الخلفية ليغطي كامل الصفحة */
}